.vagrant/*
shared-files/build-*
shared-files/katana/
shared-files/testmaster/__pycache__/
shared-files/testmaster/buildcurl/
shared-files/testmaster/http.log
shared-files/testmaster/master.cfg.sample
shared-files/testmaster/sessions
shared-files/testmaster/twistd.log
shared-files/testmaster/twistd.pid
shared-files/artifacts/buildcurl*
shared-files/testmaster/events_localhost/
shared-files/testmaster/gitpoller-curl/